.hero {
    width: 100%;
    min-height: 70vh;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero>video {
    width: 1080px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
}

.hero-container {
    position: absolute;
    /* top: 50%; */
    width: 100%;
}

.hero-content {
    text-align: center;
    font-size: 32px;
}

.hero-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}