.btn-center {
    position: absolute;
    top: 15px;
    right: 15px;
    background: white;
    border-radius: 50%;
    color: black;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 500ms;
}

.btn-center:hover {
    color: white;
    background-color: black;
    transition: all 500ms;
}

.btn-center>i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.map-input {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}