@font-face {
    font-family: Rajdhani;
    src: url(./assets/font/Rajdhani-Light.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Rajdhani;
    src: url(./assets/font/Rajdhani-Medium.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Rajdhani;
    src: url(./assets/font/Rajdhani-Regular.ttf);
}

@font-face {
    font-family: Rajdhani;
    src: url(./assets/font/Rajdhani-SemiBold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Rajdhani;
    src: url(./assets/font/Rajdhani-Bold.ttf);
    font-weight: 900;
}

body {
    margin: 0;
    font-family: Rajdhani;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(8, 11, 20);
    color: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}